body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.addTodo {
  display: flex;
}

.textfield {
  flex-grow: 1;
  margin-right: 10px;
}

.submit {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.filter {
  margin: 10px 0 0;
}

.filter button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter .selected {
  border-bottom: 2px solid blue;
}

.todos {
  list-style: none;
  padding: 0;
}

footer {
  display: flex;
}

footer span {
  flex-grow: 1;
}
